.menu{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

body{
    background-color: violet;
}
.gird img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 20px;
    background-color: coral;

    width: 310px;
    font-family: fantasy;
}